
.infinity-menu-node-container {
	width: inherit;
	background-color: #7FCFF0;
	color: rgb(255, 255, 255);
	height: auto;;
	text-align: left;
	padding-left: 5px;
	padding-top: 10px;

}


.infinity-menu-node-container:hover {
	background-color: #40ADD4;
}

.infinity-menu-leaf-container {
	width: inherit;
	background-color: #7FCFF0;
	color: white;
	height: auto;
	padding-left: 10px;
	padding-top: 7px;

}

.infinity-menu-leaf-container:hover {
	background-color:#40ADD4;
}
a {
	decoration: none;
	color: white;
}
.infinity-menu-load-more-container {
	width: 100%;
	background-color: rgb(255, 255, 255);
	color: rgb(94, 96, 99);
	height: 15px;
	padding-left: 10px;
	padding-top: 7px;
	text-align: center;
	list-style-type: none;
}

.infinity-menu-load-more-container:hover {
	background-color: rgb(200, 200, 200);
}
