ul {
    list-style-type: none;
}

a:link {

  text-decoration: none;
  align-self: center;
}

li {
  text-align: left;
  color: inherit;
}

.MenuItem{

  width: inherit;
  height:auto;
  background: #5695C9;
  border: 2px solid white;
}
