.side {
  /* other colors #174195 #40ADD4 #0171B7*/
  background-color: #7FCFF0;
  height: 100vh;
  /*padding: 10px;*/
}

.side-bar-content, .side-bar-panel, .side-bar {
  height: 100vh;
}

.topBar {
  background-color: #7FCFF0;
  color: white;
  display: flex;
  height: 50px;
}

.topBar > div {
  align-self: center;
  flex: 1 1 0;
  text-align: center;
}

.topBar .left, .topBar .right {
  max-width: 50px;
}

p {
  padding-left:  20%;
  padding-right: 20%;
  text-align: justify;
  color: black;
}
